 .navbar {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        font-family: Calibri, sans-serif;
        font-size: 1.4em;
        margin:auto;
        width: 100%;
      
     
}